# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Python virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# pipenv
Pipfile.lock

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.tox/
.nox/
.cache

# Jupyter Notebook magic
*.ipynb_checkpoints

# MacOS or Linux system files
.DS_Store
Thumbs.db
